{% extends "base.html" %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Add Recipe</h1>

<form method="POST" id="recipeForm">
    
    <label>Name:</label><input type="text" name="name" required class="border p-2 w-full">
    <label>Description:</label><textarea name="description" class="border p-2 w-full"></textarea>
    <label>Category:</label><input type="text" name="category" class="border p-2 w-full">
    <label>Source:</label><input type="text" name="source" class="border p-2 w-full">
    <label>Image URL:</label><input type="text" name="image" class="border p-2 w-full">

    <label>Servings:</label><input type="number" name="servings" min="1" class="border p-2 m-2">
    <label>Prep Time:</label><input type="number" name="time_prep" min="1" class="border p-2 m-2">
    <label>Cook Time:</label><input type="number" name="time_cook" min="1" class="border p-2 m-2">
    <label>Total Time:</label><input type="number" name="time_total" min="1" class="border p-2 m-2">

    <h2 class="text-xl font-semibold mt-4">Ingredients</h2><div id="ingredients"></div>
    <button type="button" onclick="addIngredient()">Add Ingredient</button>

    <h2 class="text-xl font-semibold mt-4">Steps</h2><div id="steps"></div>
    <button type="button" onclick="addStep()">Add Step</button>
    </br>
    <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">
        Submit
    </button>
</form>

<script>
    // Convert the Jinja variable into JSON for JavaScript
    const displayUnits = {{ display_units | tojson }};
    console.log("display_units dataset:", displayUnits);
    const productList = {{ products | tojson }};
    console.log("productList dataset:", productList);

</script>
<script src="{{ url_for('static', path='js/recipe-add.js') }}"></script>
<script src="{{ url_for('static', path='js/recipe-form.js') }}"></script>

{% endblock %}
