{% extends "base.html" %}

{% block title %}Recipes{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6 text-center">Recipes</h1>
<h3 class="text-2xl font-bold mb-6 text-center">
    <a href="/recipe-add" class="text-gray-700 hover:text-blue-600 text-lg font-medium px-8 py-4">Add Recipe</a>
    <a href="/recipes" class="text-gray-700 hover:text-blue-600 text-lg font-medium px-8 py-4">API Feed</a>
</h3>

<div class="overflow-x-auto shadow rounded-lg" id="bodyContainer"></div>

<script src="{{ url_for('static', path='js/recipes.js') }}"></script>

{% endblock %}
