{% extends "base.html" %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Add Recipe</h1>

<form method="POST" action="/recipes/create">
    
    <label>Name:</label><input type="text" name="name" required class="border p-2 w-full">
    <label>Description:</label><textarea name="description" class="border p-2 w-full"></textarea>
    <label>Servings:</label><input type="number" name="servings" min="1" class="border p-2 w-full">

    <h2 class="text-xl font-semibold mt-4">Ingredients</h2>
    <div id="ingredients">
        <div>
            <!--label>Ingredient ID:</label><input type="number" name="ingredient_id" class="border p-1"-->
            <label>Quantity:</label><input type="number" name="ingredient_quantity" class="border p-1">
            <label>Ingredient:</label><input type="text" name="ingredient_name" class="border p-1">
            <label>Unit:</label><input type="text" name="ingredient_unit" class="border p-1">
            <label>Method:</label><input type="text" name="ingredient_method" class="border p-1">
        </div>
    </div>

    <button type="button" onclick="addIngredient()">Add Ingredient</button>

    <h2 class="text-xl font-semibold mt-4">Steps</h2>
    <div id="steps">
        <div>
            <label>Step #:</label><input type="number" name="step_number" value="1" class="border p-1">
            <label>Description:</label><input type="text" name="step_description" class="border p-1 w-full">
        </div>
    </div>

    <button type="button" onclick="addStep()">Add Step</button>
    </br>
    <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">
        Submit
    </button>
</form>

<script src="{{ url_for('static', path='js/recipe-add.js') }}"></script>

{% endblock %}
